@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../public/fonts/yekanBakh/YekanBakh.css";
@import "../public/fonts/poppins/Poopins.css";
* {
  font-family: Poppins, yekanBakh, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif !important;
}
body {
  background: linear-gradient(to right, #ffffff, #caced2);
  /* scroll-behavior: smooth !important; */
}
body::-webkit-scrollbar {
  height: 10px;
  width: 10px;
  transition: all 0.5s;
  behavior: smooth !important;
}
body::-webkit-scrollbar-track {
  background: #caced2;
}
body::-webkit-scrollbar-thumb {
  background: #ffffff;
}
body::-webkit-scrollbar-thumb:hover {
  background: #2769cb;
}
.introduction {
  @apply flex sm:px-1 px-6 xl:flex-row flex-col gap-8 relative max-w-[1440px] mx-auto;
}
.introduction__image-container {
  @apply xl:flex-[1.2] flex justify-end items-center w-full xl:h-screen ;
}
.introduction__title {
  @apply md:text-[25px] text-[18px]  ;
}
.introduction__subtitle {
  @apply text-[20px]  xl:text-[27px]  font-bold mt-5;
}
.introduction__image {
  @apply relative xl:w-[50%] xl:ml-14 w-[90%] xl:h-full h-[380px] ;
}
.text__primary {
  @apply text-[#0A88CE];
}



.cv-timeline-container ul li {
  position: relative;
  margin-right: 30px;
  padding: 14px;
  border-radius: 6px;
}
.cv-timeline-container span.number {
  height: 100%;
}

.cv-timeline-container ul li > span {
  width: 2px;
  height: 80%;
  background: #fff;
  right: -32px;
  top: 0;
  position: absolute;
}
.cv-timeline-container span.number span:first-child {
  top: -5%;
}
.cv-timeline-container span.number span:last-child {
  top: 96%;
}
.cv-timeline-container span.number span {
  position: absolute;
  font-size: 10px;
  right: -35px;
  font-weight: 700;
}

li > span:before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  background: #0a88ce;
  right: -3px;
  top: 0;
}

.cv-timeline-container ul li > span:after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  background: #0a88ce;
  right: -3px;
  top: 100%;
}

.cv-timeline-container ul li {
  position: relative;
  margin-right: 80px;
  padding: 14px;
  border-radius: 6px;
}


.imageBase {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transform-style: preserve-3d;
  perspective: 500px;
  margin: auto;
}
.imageBase .box {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  width: 320px;
  height: 200px;
  background: #000;
  transition: 0.5s;
  transform-style: preserve-3d;
  overflow: hidden;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 45px;
}
@media screen and (min-width: 768px) {
  .imageBase .box {
    margin-right: 20px;
    margin-left: 40px;
    width: 385px;
    height: 200px;
  }
}
.imageBase:hover .box {
  transform: rotateY(10deg);
}
.imageBase .box:hover ~ .box {
  transform: rotateY(-10deg);
}
.imageBase .box:hover {
  transform: rotateY(0deg) scale(1.1);
  z-index: 1;
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
}
.imageBase .box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.imageBase .box .imgBx:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgb(76, 76, 76), #000000);
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
  mix-blend-mode: multiply;
}

.imageBase .box:hover .imgBx:before {
  opacity: 1;
}
.imageBase .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.imageBase .box .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  padding: 20px;
  align-items: flex-end;
  box-sizing: border-box;
}
.imageBase .box .content h2 {
  color: #fff;
  transition: 0.3s;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 20px;
  transform: translateY(150px);
  transition-delay: 0.2s;
}
.imageBase .box:hover .content h2 {
  transform: translateY(0px);
}
.imageBase .box .content p {
  color: #fff;
  transition: 0.3s;
  font-size: 14px;
  transform: translateY(200px);
  transition-delay: 0.3s;
}
.imageBase .box:hover .content p {
  transform: translateY(0px);
}
.imageBase .box .content p {
  color: #fff;
  transition: 0.3s;
  font-size: 14px;
  transform: translateY(200px);
  transition-delay: 0.3s;
}
.imageBase .box:hover .content p {
  transform: translateY(0px);
}
